# Core Django packages
Django
djangorestframework
djangorestframework_simplejwt
django-allauth
django-cors-headers

# Database
psycopg2-binary
dj-database-url

# Django extensions
django-role-permissions
django-shortuuidfield
django-taggit
django-timezone-field
django-widget-tweaks
dj-rest-auth

# API Documentation
drf-yasg

# Image processing
pillow

# Server
gunicorn

# Utilities
PyJWT
dnspython
decorator
Jinja2
MarkupSafe
